.poison {
    background-color: #A95EA1;
    color: white;
}

.flying {
    background-color: #7AA4FF;
    color: white;
}

.grass {
    background-color: #48D0B0;
}

.water {
    background-color: #76BDFD;
}

.fire {
    background-color: #FB6D6C;
}

.normal {
    background-color: #BBBBAD;
}

.bug {
    background-color: #C2D11E;
}

.ground {
    background-color: peru;
    color: white;
}

.fairy {
    background-color: #FBACFF;
}

.fighting {
    background-color: #A55744;
}

.rock {
    background-color: #CEBC72;
}

.ghost {
    background-color: #7973D5;
    color: white;
}

.ice {
    background-color: #95F1FE;
}

.dragon {
    background-color: #8B6653;
    color: white;
}

.steel {
    background-color: #C4C2DA;
}