body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Grandstander', cursive;
    background-image: url(img/pokemon-bg.jpg);
    background-position: 40% 0%;
    background-attachment: fixed;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pokedex {
    width: 30vw;
    height: 30vh;
    background-color: #FC6C6D;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    margin-top: 10%;
}

.info {
    border-radius: 0px 0px 40px 40px;
    background-color: white;
}

.infocontainer {
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -40px;
    width: 30vw;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.headerImages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.pokemonElementFire {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pokemonElementFire h3 {
    background-color: #F78C8D;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    font-size: 15px;
}

.arrowBack {
    width: 25px;
    cursor: pointer;
    filter: invert();
}

.love {
    width: 25px;
    cursor: pointer;
    filter: invert();
}

.pokemonName {
    width: 100%;
}

.pokemonPicture {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonPicture img {
    position: absolute;
    width: 200px;
}

.displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.primary-abilities {
    margin-top: 50px;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    padding: 24px;
    background-color: white;
}

.regular_abilities {
    height: 150px;
    width: 15vw;
}

.abilities {
    width: 15vw;
}

.margin0 {
    margin: 0px;
}

.height {
    height: 20px;
}

.breeding {
    padding: 24px;
    height: 200px;
    background-color: white;
    border-radius: 0px 0px 40px 40px;
}

.second_abilities {
    display: flex;
    justify-content: space-around;
    height: 130px;
}

.group1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 15vw;
}

.group2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 15vw;
}

.cursor {
    cursor: pointer;
}