body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pokedex {
    width: 30vw;
    height: 30vh;
    background-color: #FC6C6D;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    margin-top: 10%;
}

.infocontainer {
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -40px;
    min-height: 20vh;
    width: 30vw;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.headerImages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.pokemonElementFire {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pokemonElementFire h3 {
    background-color: #F78C8D;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    font-size: 15px;
}

.arrowBack {
    width: 25px;
    cursor: pointer;
    filter: invert();
}

.love {
    width: 25px;
    cursor: pointer;
    filter: invert();
}

.pokemonName {
    width: 100%;
}

.pokemonPicture {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonPicture img {
    position: absolute;
    width: 300px;
}

.displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regular_abilities {
    height: 150px;
}

.regular_abilities td {
    gap: 30px;
}

.margin0 {
    margin-top: 0px;
}